1. Speak to me in Russian
2. если ты посмотришь на проекты внутри папки modules то уидишь как выглядят модули. ну и название надо начинать Dotnet.Modular ...
3. Смотри как я регистрирую сервисы через ExportAttribute.
4. Смотри как устанавливаются зависимости между модулями через DependsOnAttribute.
5. Используй DDD для работы с доменными моделями
6. Все Entity наследуются от Entity<T>. По-умолчанию T = Guid.