<div class="sidebar">
    <h4 class="text-center">Admin Panel</h4>
    <a href="#">Dashboard</a>
    <a href="#">Users</a>
    <a href="#">Settings</a>
    <a href="#">Reports</a>
    <a href="#">Logout</a>
</div>